html{
    font-family:sans-serif;
     line-height:1.15;
     -ms-text-size-adjust:100%;
     -webkit-text-size-adjust:100% 
     
}
body {background-color: rgb(37, 37, 37);}
h1 {
    color: rgb(255, 255, 255);
}
h2 {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
p {
    color: rgb(202, 202, 202);
}
th {
    color: rgb(202, 202, 202);
    border-bottom: 3px solid #dddddd69;
  }
  tr {
    color: rgb(202, 202, 202);
  }
  td {
    border-left: solid 2px #dddddd69;
  }
  img {
    width:914px;
    height:514px;
  }
 /* unvisited link */
 a:link {
    color: rgb(0, 195, 255);
  }
  
  /* visited link */
  a:visited {
    color: rgb(0, 110, 255);
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(0, 195, 255);
  }
  
  /* selected link */
  a:active {
    color: blue;
  } 